body {
    font-family: Verdana;
    font-size: 23px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: rgba(35, 3, 100, 0.632);
    width: 100%;
    height: 100vh;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    border: 2px solid rgb(0, 0, 0);
    background-color: #fff;
    border-collapse: collapse;
    margin-top: 1em;
    text-align: center;
}

th, td {
    border: 3px solid orange;
    padding:.2em;
}

.button{
    background-color: rgb(216, 163, 72);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .9rem;
    margin: .1rem;
}


.message{
    background-color: rgb(255, 106, 0);
}

a{
    color: #e18608;
}

a:hover{
    color: #ffe416;
}





