body {
    font-family: Verdana;
    font-size: 23px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100vh;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    border: 2px solid rgb(0, 0, 0);
    background-color: #fff;
    border-collapse: collapse;
    margin-top: 1em;
    text-align: center;
}

th, td {
    border: 2px solid orange;
    padding:.2em;
}

.button{
    background-color: rgb(216, 163, 72);
    color: black;
    text-decoration: none;
    padding: .5rem;
    box-shadow: .2rem .2rem 0 rgba(0, 0, 0, 0.493);
    margin: 1rem;
    transition: box-shadow cubic-bezier(1, 0.01, 0, 0.92) .3s;
}

.back{
    position: absolute;
    left: 5rem;
    top: 5rem;
}

.message{
    background-color: rgb(255, 106, 0);
}

.button:hover{
    box-shadow: .2rem .2rem 0 rgba(163, 247, 7, 0.6);
}

a{
    color: #e18608;

    transition: color .3s cubic-bezier(1, 0.01, 0, 0.92);
}

a:hover{
    color: #ffe416;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

